# LaTeX
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.run.xml
*.pdf

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg
*.eggs
*.dist-info/
*.installer/
*.log
*.tox/
*.coverage
*.hypothesis/
*.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# Virtualenvs
venv/
env/
.venv/
ENV/

# Outros
*.swp
*.swo
*~
